NODE_ENV=development
PORT=8080
SPAWN=1

SESSION_MAXAGE=1209600000

REDIS_CLUSTER=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CLUSTER_LIST=localhost:7000,localhost:7001,localhost:7002

EKO_OAUTH2_LIST=local07|eko-app|secret|http://h1.eko07.local,staging|eko-app|secret|https://staging-h1.dev.ekoapp.com,local|workflowadmin|secret-workflowadmin|http://172.16.246.52:5000

EKO_AUTHORIZE_URL=/oauth/authorize
EKO_TOKEN_URL=/oauth/token
EKO_CLIENT_ID=eko-app
EKO_SECRET=secret
EKO_USER_INFO_URL=/userinfo
EKO_SCOPE=admin profile
EKO_ACCESS_TOKEN_EXPIREIN=600

JWT_SECRET=jwt-secret
JWT_ALGORITHM=HS256

# PROXY_TO=postman-echo.com
PROXY_RULES=localhost:8081=localhost:3000,^\/admin=localhost:3000,*=localhost:3000
# PROXY_RULES=*=localhost:3000